dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

target/
lib_managed/
src_managed/
project/boot/

.idea
*.iml

*.swp

.DS_Store

/tmp

/metastore_db/
derby.log

.metals/
.bloop/
.bsp
project/**/metals.sbt
